<h2>$word.getTerm()</h2>
<ul>
  #foreach ($definition in $word.getDefinitions())
    <li>$definition.getDescription()</li>
  #end
</ul>

<a href="/words/$word.getId()/definitions/new"><button type="button" class="btn btn-primary">Add definition to $word.getTerm()</button></a>
<a href="/"><button type="button" class="btn btn-warning">View all words</button></a>
