<h1>Add your word</h1>
<form action='/' method='post'>
  <div class="form-group">
    <label for="term">A name</label>
    <input id="term" name="term" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
